BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
DATABASE_URL=sqlite+aiosqlite:///app/data/vpn.db
BACKEND_BIND_IP=127.0.0.1
BACKEND_PORT=8000
HYSTERIA_API_URL=http://host.docker.internal:9999
HYSTERIA_API_TOKEN=your_secret_token
HYSTERIA_SERVER_HOST=nikitaluksha.com
HYSTERIA_SERVER_PORT=8443
HYSTERIA_SERVER_SNI=nikitaluksha.com
HYSTERIA_SERVER_INSECURE=0
HYSTERIA_OBFS=
HYSTERIA_OBFS_PASSWORD=
HYSTERIA_REQUEST_TIMEOUT_SECONDS=10
